
body {
    /* font code was copied directly from adobe fonts! */
    font-family: "Rubik Iso", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 40px;
    background-color: #FBDCE2;
}

.circle {
    height: 95vh;
    width: 100vh;
    text-align: center;
    border-color: #D4F4DD;
    border-radius: 35%;
    border-width: 10px;
    display: grid;
    background-color: #414066;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

h1 {
    font-size: 40px;
    position: absolute;
    text-align: center;
    left: 30%;
    right: 30%;
    color: black;
}

.square { 
    height: 60vh;
    width: 40vw;
    background-color: #D4F4DD;
    margin: 0 auto;
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    border-radius: 5%;
    border-color: #4C3B4D;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.metrics {
    position: relative;
    display: flex;
}

.stats {
    display: flex;
    flex-direction: space-between;
    height: 10px; */
    left: 10%;
    right: 80%;
    top: 10px;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    line-height: 20px;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    position: relative;
    top: -60%;
    bottom: 20;
}

.buttons {
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: 100%;
    top: 80%;
    flex-direction: row;
    justify-content: space-around;
    line-height: 30px;
}

#feed {
    height: 60px;
    width: 60px;
    background-color: #82816D;
    border-radius: 50%;
    border-color: #1B2D2A;
    margin: 5px;
}

#lights {
    height: 60px;
    width: 60px;
    background-color: #82816D;
    border-radius: 50%;
    border-color: #1B2D2A;
}

#play {
    height: 60px;
    width: 60px;
    background-color: #82816D;
    border-radius: 50%;
    border-color: #1B2D2A;
}