/* body {
    background-color: aquamarine;
} */

main {
    height: 100px;
    width: 100px;
    text-align: center;
    border-color: black;
    border-radius: thick 5px;
    display: grid;
}

#feed {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: thick 5px;
    border-color: black;
}

#lights {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: thick 5px;
    border-color: black;
}

#play {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: thick 5px;
    border-color: black;
}